.ItemList {
  background-image: url(../../img/fondo3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ItemList img {
  margin-right: 15px;
}
@media (max-width: 991px) {
  .ItemList {
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: #01093e;
    flex-direction: column;
    padding-top: 70px;
  }
  .ItemList img {
    margin-right: 15px;
  }
}
